#navbar {
    display: flex; /* Define o cabeçalho como flexível */
    justify-content: space-between; /* Alinha os elementos filhos ao longo do eixo principal com espaço entre eles */
    align-items: center; /* Alinha os elementos filhos verticalmente */
    padding: 20px; /* Adiciona algum espaçamento interno para o cabeçalho */
    background-color: rgb(244, 239, 236);
    color: rgb(198, 168, 157);
    
}

#logo{
    margin-left: 150px;
    font-size: 30px;
}

.menu-icon{
    margin-right: 150px;
    font-size: 30px;
}

#calendario{
    background-color: rgb(244, 239, 236);
    

}
.quadrado{
    width: 500px;
    height: 100px;
    background-color: rgba(198, 168, 157, 0.5);
    
    margin-left: 35%;
    margin-bottom: 5%;
    border-radius: 20px;
    text-align: center;
    line-height: 50px;
    color: #ffffff;
    font-size: 30px;
}
.quadrado1{
    width: 500px;
    height: 390px;
    background-color: rgba(153, 155, 132, 0.5);
    margin-top: 3%;
    margin-left: 35%;
    
    border-radius: 30px;
    text-align: center;   
    align-items: center; 
    line-height: 40px;
    color: #ffffff;
    font-size: 25px;
    
    
}

#numero1{
    border-radius: 80px;
    width: 200px;
    height: 25px;
    border-color: rgba(153, 155, 132, 0.5);

}
#numero2{
    border-radius: 80px;
    width: 200px;
    height: 25px;
    border-color: rgba(153, 155, 132, 0.5);

}
#numero3{
    border-radius: 80px;
    width: 200px;
    height: 25px;
    border-color: rgba(153, 155, 132, 0.5);

}

#botao{
    border-radius: 80px;
    border-color: rgba(153, 155, 132, 0.5);
    width: 200px;
    height: 50px;


}

hr {
    border: none; 
    height: 5px;    
    background-color: rgb(198, 168, 157);     
    line-height: 50px;
    
    font-size: 25px;
    
}

.footer_container {
    margin-top: -9px;    
    background-color: rgb(244, 239, 236);
    color: rgb(198, 168, 157);
    padding: 10px;
    

}

#nome{
    margin-left: 1400px;
}