.calculator {
    margin-top: 20px;
    text-align: center;
}

.calculator input, .calculator select, .calculator button {
    margin: 5px;
    padding: 5px;
}

.calculator button {
    cursor: pointer;
}

#resultado {
    margin-top: 10px;
    font-weight: bold;
}
